.Authentication__reset__password__wrapper {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.Authentication__reset__password__container {
  width: 460px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.Authentication__reset__password__title {
  color: #20d366;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.Authentication__reset__password__input__field__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.Authentication__reset__password__input__field {
  width: 300px;
}

.Authentication__reset__password__error__msg {
  color: red;
}

.Authentication__reset__password__link__block {
  text-align: center;
}
.Authentication__reset__password__link {
  color: #20d366;
  text-align: center;
}

.Authentication__reset__password__btn__block {
  text-align: center;
  margin: 30px 0;
}

.Authentication__reset__password__btn {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  text-decoration: none;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 4px;
  height: 40px;
  background: #20d366;
  padding: 7px 16px;
}
